<tr>
    <td>{{todoItem.title}}</td>
    <td>{{todoItem.description}}</td>
    <td>{{todoItem.createdAt}}</td>
    <td class="flex justify-content-evenly">
        <div>
            <p-button pRipple icon="pi pi-pencil" class="mr-2" [rounded]="true" [outlined]="true" severity="success"
                (click)="editTask(todoItem)" />
            <p-button pRipple icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                (click)="deleteTask(todoItem)" />&nbsp;
        </div>
        <div> <p-button pRipple icon="pi pi-check" severity="success" [rounded]="true" [outlined]="true"
                (click)="deleteTask(todoItem)" />
        </div>
    </td>
</tr>