<div class="flex align-items-center justify-content-center">
    <app-header [email]="email"></app-header>
</div>
<div class="flex align-items-center justify-content-center">
    <app-form-todo [(todoToEdit)]="todoToEdit" (todoToEditChange)="onTodoChange($event)"></app-form-todo>
</div>

<div class="mt-3 lg:mx-6">
    <app-todo-list-active [todoList]="(todoList$ | async) ?? []" (selectedTodoChange)="onSelectedTodoChange($event)" />
    <div class="mt-8"></div>
    <app-todo-list-history [historyTodoList]="todoListHistory" (undoTodo)="onUndoTask($event)" />
</div>