<div class="card">
    <p-table #dt [value]="historyTodoList" dataKey="code" [tableStyle]="{'min-width': '50rem'}" [paginator]="true"
        [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0">History</h3>
                <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..." />
                </span> -->
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Titulo</th>
                <th>Descripción</th>
                <th pSortableColumn="createdAt">
                    Creación <p-sortIcon field="createdAt" />
                </th>
                <th>Date done</th>
                <th style="width:15rem">&nbsp;</th>


            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todoItem>
            <tr>

                <td>{{todoItem.title}}</td>
                <td>{{todoItem.description}}</td>
                <td>{{todoItem.createdAt | date:'dd/mm/yyyy h:mma'}}</td>
                <td>{{todoItem.completedAt | date:'dd/mm/yyyy h:mma'}}</td>
                <td class="flex justify-content-evenly">

                    <div> <p-button pRipple icon="pi pi-undo" severity="success" [rounded]="true" [outlined]="true"
                            (click)="actionTask(todoItem, 'undo')" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-confirmDialog key="positionDialog" position="center" rejectButtonStyleClass="p-button-outlined" />
</div>