<div class="card">
    <p-table #dt [value]="todoList" [(selection)]="selectedtodoList" dataKey="code"
        [tableStyle]="{'min-width': '50rem'}" [paginator]="true" [rows]="5">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <h3 class="m-0">Lista de TODOs</h3>
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                        placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <!-- <th style="width: 4rem"><p-tableHeaderCheckbox /></th> -->
                <th>Titulo</th>
                <th>Descripcion</th>
                <th>Creacion</th>
                <th>&nbsp;</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-todoItem>
            <app-todo-details [todoItem]="todoItem"/>
        </ng-template>
    </p-table>
</div>
